extends ../layout

block content
  h1= article.title
  include by_line
  p= article.body
  h3 Comments:
  hr
  each comment in comments
    p= comment.comment
    p.small By 
      = comment.author 
      |  | 
      = comment.commentedAt()
    a(href="/articles/" + article.id + "/comments/" + comment.id + "/delete") Delete Comment
    hr
  form(action="/articles/" + article.id + "/comment", method="post")
    include comment_form
  br
  a(href="../") &larr; Back
  | | 
  a(href="/articles/" + article.id + "/edit") Edit Article
  | | 
  a(href="/articles/" + article.id + "/delete") Delete Article
